@media screen and (max-width:1150px) {
    .portfolio{
        .content{
            .item{
                padding: 0 20px !important;
                .home{
                    .img{
                        width: 30% !important;
                    }
                    .title{
                        width: 65% !important;
                        h1:nth-of-type(1){
                            font-size: 32px;
                        }
                        h1:nth-of-type(2){
                            font-size: 29px;
                        }
                    }
                }
                .courses{
                    .units{
                        .unit{
                            .text_hover{
                                h1{
                                    margin-bottom: 5px !important;
                                }
                                .course{
                                    width: 100% !important;
                                    margin-bottom: 5px !important;
                                }
                                p{
                                    font-size: 14px !important;
                                    margin-bottom: 5px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .portfolio{
        .nav{
            img{
                width: 90% !important;
            };
            .menu{ 
                ul{
                    padding: 0 !important;
                    li{
                        a{
                            i{
                                margin: 0 10px !important;
                            }
                        }
                    }
                }
            }
        }
        .content{
            .item{
                .courses{
                    .units{
                        .unit{
                            .text_hover{
                                h1{
                                    font-size: 20px !important;
                                    margin-bottom: 5px !important;
                                }
                                .course{
                                    width: 100%;
                                    margin-bottom: 2px !important;
                                    i{
                                        font-size:30px !important;
                                    }
                                }
                                p{
                                    font-size: 14px !important;
                                    margin-bottom: 5px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:950px) {
    .portfolio{
        .content{
            .item{
                height: auto !important;
                padding: 20px  !important;
                .home{
                    display: block !important;
                    .img{
                        display: block;
                        margin-bottom: 20px !important;
                        width: 40% !important;
                        margin: auto;
                        padding: 25px 0 !important;
                        .after  , .before{
                            border-style: solid;
                            width: 50% !important;
                            height: 50% !important;
                        }
                        img{
                            width: 85% !important;
                        }
                    }
                    .title{
                        width: 100% !important;
                        h1{
                        &:nth-of-type(1){
                            font-size: 35px !important;
                        }
                        &:nth-of-type(2){
                            font-size: 28px !important;
                        }
                    }
                    p{
                        margin-bottom: 0 !important;
                    }
                    button{
                        display: none;
                    }

                    }
                    
                }
                .projects , .courses {
                    .units{
                        .unit{
                            width: 49% !important;
                            .text_hover{
                                h1{
                                    font-size: 40px !important;
                                    margin-bottom: 25px !important;
                                }
                                .course{
                                    width: 70% !important;
                                    margin-bottom: 10px !important;
                                    i{
                                        font-size:50px !important;
                                    }
                                }
                                p{
                                    font-size: 16px !important;
                                    margin-bottom: 10px !important;
                                }
                            }
                        }
                    }
                }
                .skills{
                    p{
                        width: 90% !important;
                        font-size: 19px !important;
                    }
                    .units{
                        .unit{
                            width: 30% !important;
                            
                        }
                    }
                }

            }
        }
    }
}
@media screen and (max-width:750px) {
    .portfolio{
        .nav{
            h1{
                font-size: 22px;
            }
            .menu{
                
                ul{
                    li{
                        a{
                            i{
                                margin: 0 10px 0 0 !important;
                            }
                        }
                    }
                }
            }
        }
        .content{
            .settings{
                .icon{
                    margin-right: 10px !important;
                }
            }
            #checksettings:checked{
                &~.settings{
                    right:2px !important;
                }
            }
            .item{
                .courses{
                    .units{
                        .unit{
                            .text_hover{
                                h1{
                                    font-size: 30px !important;
                                    margin-bottom: 15px !important;
                                }
                                .course{
                                    width: 70% !important;
                                    margin-bottom: 10px !important;
                                    i{
                                        font-size:40px !important;
                                    }
                                }
                                p{
                                    font-size: 14px !important;
                                    margin-bottom: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:655px) {
    .portfolio{
        .nav{
            padding: 30px 5px !important;
            width: auto !important;
            img{
                display: none;
            }
            .navbar{
                transform: translateY(0) !important;
                h1{
                    font-size: 12px;
                }
                .menu{
                    margin-top: 100px !important;
                    ul{
                        padding: 0 !important;
                        li{
                            padding: 15px 0 !important;
                            text-align: center;
                            a{
                                display: block;
                                margin: 0 !important;
                                height: auto !important;
                                span{
                                    display: none;
                                }
                                i{
                                   margin: 0 !important;
                                   display: inline-block;
                                   font-size: 20px;
                                   width: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content{
            width: 100% !important;
            .item{
                .home{
                    .img{
                        width: 60% !important;
                    }
                    .title{
                        h1{
                            &:nth-of-type(1){
                                font-size: 30px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:620px) {
    .portfolio{
        .content{
            .item{
                padding: 20px  !important;
                .home{
                    .title{
                        h1{
                            &:nth-of-type(1){
                                font-size: 25px !important;
                            }
                            &:nth-of-type(2){
                                font-size: 23px !important;
                            }
                        }
                        p{
                            font-size: 15px !important;
                        }
                    }
                }
                .projects , .courses{
                    .units{
                        .unit{
                            width: 100% !important;
                            .text_hover{
                                h1{
                                    font-size: 40px !important;
                                    margin-bottom: 20px !important;
                                }
                                .course{
                                    width: 70% !important;
    
                                    margin-bottom: 10px !important;
                                    i{
                                        font-size:50px !important;
                                    }
                                }
                                p{
                                    font-size: 20px !important;
                                    margin-bottom: 15px !important;
                                }
                            }
                        }
                    }
                }
                .skills{
                    p{
                        width: 90% !important;
                        font-size: 19px !important;
                    }
                    .units{
                        padding: 0 20px !important;
                        .unit{
                            width: 47% !important;
                            margin: 0 !important;
                            margin-bottom: 50 !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:450px) {
    .portfolio{
        .content{
            .item{
                .home{
                    .img{
                        width: 95% !important;
                    }
                    .title{
                        h1{
                            span{
                                display: block;
                                margin-left: 30px !important;
                            }
                            &:nth-of-type(1){
                                font-size: 27px !important;
                            }
                            &:nth-of-type(2){
                                font-size:23px !important;
                            }
                        }
                    }
                }
                .courses{
                    .units{
                        .unit{
                            .text_hover{
                                h1{
                                    margin-bottom: 10px !important;
                                }
                                .course{
                                    width: 70% !important;
    
                                    margin-bottom: 10px !important;
                                    i{
                                        font-size:40px !important;
                                    }
                                }
                                p{
                                    font-size: 14px !important;
                                    margin-bottom: 15px !important;
                                }
                            }
                        }
                    }
                }
                .skills{
                    p{
                        width: 100% !important;
                        font-size: 17px !important;
                        text-align: justify;
                    }
                    .units{
                        .unit{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:350px) {
    .portfolio{
        .content{
            .item{
                padding: 20px 5px !important;
                .home{
                    .title{
                        h1{
                            span{
                                display: block;
                                margin-left: 10px !important;
                            }
                            &:nth-of-type(1){
                                font-size: 23px !important;
                            }
                            &:nth-of-type(2){
                                font-size:19px !important;
                            }
                        }
                        p{
                            font-size: 13px !important;
                        }
                    }
                }
                .projects , .courses , .skills{
                    .head{
                        h1{
                            font-size: 30px !important;
                        }
                        .after , .before{
                            width: 25px !important;
                            
                        }
                    }
                    .units{
                        .unit{
                            .text_hover{
                                padding: 5px 10px !important;
                                overflow: hidden !important;
                                h1{
                                    font-size: 25px !important;
                                    margin-bottom: 10px !important;
                                }
                                .course{
                                    width: 70% !important;
    
                                    margin-bottom: 5px !important;
                                    i{
                                        font-size:40px !important;
                                    }
                                }
                                p{
                                    font-size: 12px !important;
                                    margin-bottom: 10px !important;
                                }
                            }
                        }
                    }
                }
                .skills{
                    p{
                        width: 100% !important;
                        font-size: 15px !important;
                    }
                    
                }
                
            }
        }
    }
}