@media screen and (max-width: 1150px) {
  .portfolio .content .item {
    padding: 0 20px !important;
  }
  .portfolio .content .item .home .img {
    width: 30% !important;
  }
  .portfolio .content .item .home .title {
    width: 65% !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 32px;
  }
  .portfolio .content .item .home .title h1:nth-of-type(2) {
    font-size: 29px;
  }
  .portfolio .content .item .courses .units .unit .text_hover h1 {
    margin-bottom: 5px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio .nav img {
    width: 90% !important;
  }
  .portfolio .nav .menu ul {
    padding: 0 !important;
  }
  .portfolio .nav .menu ul li a i {
    margin: 0 10px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover h1 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 100%;
    margin-bottom: 2px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course i {
    font-size: 30px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 950px) {
  .portfolio .content .item {
    height: auto !important;
    padding: 20px !important;
  }
  .portfolio .content .item .home {
    display: block !important;
  }
  .portfolio .content .item .home .img {
    display: block;
    margin-bottom: 20px !important;
    width: 40% !important;
    margin: auto;
    padding: 25px 0 !important;
  }
  .portfolio .content .item .home .img .after, .portfolio .content .item .home .img .before {
    border-style: solid;
    width: 50% !important;
    height: 50% !important;
  }
  .portfolio .content .item .home .img img {
    width: 85% !important;
  }
  .portfolio .content .item .home .title {
    width: 100% !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 35px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(2) {
    font-size: 28px !important;
  }
  .portfolio .content .item .home .title p {
    margin-bottom: 0 !important;
  }
  .portfolio .content .item .home .title button {
    display: none;
  }
  .portfolio .content .item .projects .units .unit, .portfolio .content .item .courses .units .unit {
    width: 49% !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover h1, .portfolio .content .item .courses .units .unit .text_hover h1 {
    font-size: 40px !important;
    margin-bottom: 25px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course, .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 70% !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course i, .portfolio .content .item .courses .units .unit .text_hover .course i {
    font-size: 50px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover p, .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .skills p {
    width: 90% !important;
    font-size: 19px !important;
  }
  .portfolio .content .item .skills .units .unit {
    width: 30% !important;
  }
}
@media screen and (max-width: 850px) {
  .about .units .unit {
    width: auto !important;
    justify-content: right;
  }
}
@media screen and (max-width: 750px) {
  .portfolio .nav h1 {
    font-size: 22px;
  }
  .portfolio .nav .menu ul li a i {
    margin: 0 10px 0 0 !important;
  }
  .portfolio .content .settings .icon {
    margin-right: 10px !important;
  }
  .portfolio .content #checksettings:checked ~ .settings {
    right: 2px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover h1 {
    font-size: 30px !important;
    margin-bottom: 15px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 70% !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course i {
    font-size: 40px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 700px) {
  .about p {
    font-size: 15px !important;
    text-align: justify !important;
  }
  .about .units {
    flex-direction: column-reverse !important;
    display: block;
  }
  .about .units .unit {
    width: 100% !important;
  }
  .about .units .unit .twounit {
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .about .units .unit .twounit .minunit {
    width: 40% !important;
  }
  .about .units .unit .twounit .minunit:nth-of-type(1) {
    margin-bottom: 0 !important;
  }
  .about .units .unit .twounit .minunit p {
    text-align: center !important;
  }
}
@media screen and (max-width: 655px) {
  .portfolio .nav {
    padding: 30px 5px !important;
    width: auto !important;
  }
  .portfolio .nav img {
    display: none;
  }
  .portfolio .nav .navbar {
    transform: translateY(0) !important;
  }
  .portfolio .nav .navbar h1 {
    font-size: 12px;
  }
  .portfolio .nav .navbar .menu {
    margin-top: 100px !important;
  }
  .portfolio .nav .navbar .menu ul {
    padding: 0 !important;
  }
  .portfolio .nav .navbar .menu ul li {
    padding: 15px 0 !important;
    text-align: center;
  }
  .portfolio .nav .navbar .menu ul li a {
    display: block;
    margin: 0 !important;
    height: auto !important;
  }
  .portfolio .nav .navbar .menu ul li a span {
    display: none;
  }
  .portfolio .nav .navbar .menu ul li a i {
    margin: 0 !important;
    display: inline-block;
    font-size: 20px;
    width: auto !important;
  }
  .portfolio .content {
    width: 100% !important;
  }
  .portfolio .content .item .home .img {
    width: 60% !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 620px) {
  .portfolio .content .item {
    padding: 20px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 25px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(2) {
    font-size: 23px !important;
  }
  .portfolio .content .item .home .title p {
    font-size: 15px !important;
  }
  .portfolio .content .item .projects .units .unit, .portfolio .content .item .courses .units .unit {
    width: 100% !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover h1, .portfolio .content .item .courses .units .unit .text_hover h1 {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course, .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 70% !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course i, .portfolio .content .item .courses .units .unit .text_hover .course i {
    font-size: 50px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover p, .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  .portfolio .content .item .skills p {
    width: 90% !important;
    font-size: 19px !important;
  }
  .portfolio .content .item .skills .units {
    padding: 0 20px !important;
  }
  .portfolio .content .item .skills .units .unit {
    width: 47% !important;
    margin: 0 !important;
    margin-bottom: 50 !important;
  }
}
@media screen and (max-width: 450px) {
  .portfolio .content .item .home .img {
    width: 95% !important;
  }
  .portfolio .content .item .home .title h1 span {
    display: block;
    margin-left: 30px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 27px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(2) {
    font-size: 23px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover h1 {
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course {
    width: 70% !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover .course i {
    font-size: 40px !important;
  }
  .portfolio .content .item .courses .units .unit .text_hover p {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  .portfolio .content .item .skills p {
    width: 100% !important;
    font-size: 17px !important;
    text-align: justify;
  }
  .portfolio .content .item .skills .units .unit {
    width: 100% !important;
  }
  .portfolio .content .item .about .head h1 {
    font-size: 30px !important;
  }
  .portfolio .content .item .about .head .after, .portfolio .content .item .about .head .before {
    width: 25px !important;
  }
  .portfolio .content .item .about .units .unit .twounit {
    display: block;
  }
  .portfolio .content .item .about .units .unit .twounit .minunit {
    width: 100% !important;
  }
  .portfolio .content .item .about .units .unit .twounit .minunit:nth-of-type(1) {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 350px) {
  .portfolio .content .item {
    padding: 20px 5px !important;
  }
  .portfolio .content .item .home .title h1 span {
    display: block;
    margin-left: 10px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(1) {
    font-size: 23px !important;
  }
  .portfolio .content .item .home .title h1:nth-of-type(2) {
    font-size: 19px !important;
  }
  .portfolio .content .item .home .title p {
    font-size: 13px !important;
  }
  .portfolio .content .item .projects .head h1, .portfolio .content .item .courses .head h1, .portfolio .content .item .skills .head h1 {
    font-size: 30px !important;
  }
  .portfolio .content .item .projects .head .after, .portfolio .content .item .projects .head .before, .portfolio .content .item .courses .head .after, .portfolio .content .item .courses .head .before, .portfolio .content .item .skills .head .after, .portfolio .content .item .skills .head .before {
    width: 25px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover, .portfolio .content .item .courses .units .unit .text_hover, .portfolio .content .item .skills .units .unit .text_hover {
    padding: 5px 10px !important;
    overflow: hidden !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover h1, .portfolio .content .item .courses .units .unit .text_hover h1, .portfolio .content .item .skills .units .unit .text_hover h1 {
    font-size: 25px !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course, .portfolio .content .item .courses .units .unit .text_hover .course, .portfolio .content .item .skills .units .unit .text_hover .course {
    width: 70% !important;
    margin-bottom: 5px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover .course i, .portfolio .content .item .courses .units .unit .text_hover .course i, .portfolio .content .item .skills .units .unit .text_hover .course i {
    font-size: 40px !important;
  }
  .portfolio .content .item .projects .units .unit .text_hover p, .portfolio .content .item .courses .units .unit .text_hover p, .portfolio .content .item .skills .units .unit .text_hover p {
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }
  .portfolio .content .item .skills p {
    width: 100% !important;
    font-size: 15px !important;
  }
  .portfolio .content .item .about p {
    font-size: 13px !important;
  }
  .portfolio .content .item .about .units .unit .info p {
    font-size: 12px !important;
    text-align: left !important;
  }
  .portfolio .content .item .about .units .unit .info .socialmedia a i {
    font-size: 25px !important;
  }
  .portfolio .content .item .about .units .unit .info .socialmedia a span {
    font-size: 16px !important;
    padding: 3px 6px !important;
  }
}/*# sourceMappingURL=media.css.map */